#index {
  color: #d3d6dd;
  background-color: #000000;
  width: 100%;
  height: 100%;

  .bg {
    background-image: url("../assets/img/pageBg.png");
    background-size: cover;
    background-position: center center;
    height: 100vh;
  }

  .host-body {
    .title {
      position: relative;
      width: 6.25rem;
      line-height: 0.6rem;
      text-align: center;
      background-size: cover;
      background-repeat: no-repeat;

      .title-text {
        font-size: 0.3rem;
      }

      .title-bototm {
        width: 6.25rem;
        height: 0.2rem;
        position: absolute;
        top: 0.3rem;
        left: 0;
      }
    }
    .btn-group {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      position: absolute;
      top: 0.4rem;
      width: 30%;
      right: 0.2rem;
      z-index: 9999;
      img {
        width: 0.5rem;
        cursor: pointer;
      }
    }
    .content-date {
      font-size: 0.3rem;
      line-height: 0.3rem;
      position: absolute;
      top: 0.4rem;
      left: 0.2rem;
      span {
        margin-left: 10px;
      }
    }
    $top: 1rem;
    %panel-box {
      position: absolute;
      top: $top;
      width: 30vw;
      text-align: center;
      height: calc(100vh - #{$top} - 2rem);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
        .panel-contanier {
        height: calc(33.3% - 0.5rem);
          .dv-border-box-10 {
            height: auto;
          }
          .left-text-item {
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-evenly;
          }
        }

      .content-title {
        font-size: 0.3rem;
        font-weight: 600;
        color: #fff;
        .border-box-content {
          padding: 0.2rem;
        }
        // span {
        //   line-height: 50px;
        //   padding-left: 30px;
        // }
      }
    }
    .content-left-box {
      left: 0.2rem;
      @extend %panel-box
    }
    .content-right-box1 {
      width: 34vw;
      text-align: center;
      position: absolute;
      top: $top;
      right: 20px;
      height: 88vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .content-date {
        font-size: 0.3rem;
        line-height: 0.3rem;
        // position: absolute;
        // top: 10px;
        span {
          margin-left: 10px;
        }
      }
      .content-title {
        height: 50px;
        font-size: 0.3rem;
        font-weight: 600;
        color: #fff;
        span {
          line-height: 50px;
          padding-left: 30px;
        }
      }
    }
    .content-right-box {
      right: .2rem;
      @extend %panel-box
    }
    //底部按钮
    .bototm-btn {
      position: absolute;
      top: calc(100vh - #{$top});
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .body-box {
      margin-top: 0.2rem;
      display: flex;
      flex-direction: column;

      //下方区域的布局
      .content-box {
        display: grid;
        grid-template-columns: 2fr 3fr 5fr 3fr 2fr;
      }

      // 底部数据
      .bototm-box {
        margin-top: 0.125rem;
        display: grid;
        grid-template-columns: repeat(2, 50%);
      }
    }
  }
}
